/**{
    border: 1px solid blue;
}*/
body{
    width: 1300px;
}
.outline{
    height: 500px;
    width: 1300px;
}
#game{
    height:350px;
    padding: 0px;
    left: 14px;
}

/*top of the page title*/
.space{
    font-family: 'Germania One', cursive;
    font-size: 100px;
    height: 150px;
    width: 1339px;
    left: 5px;
    background-color: gray;
    margin: 0px;
    text-align: center;
}
.container{
    height: 45px;
}

/*div to hold questions*/
.qContainer{
    display: none;
    position: relative;
    height: 350px;
    z-index: 0;
    background-image: url(../images/halftone-yellow.png);
}

/*start button*/
.start{
    position: relative;
    top: 45%;
    left: 43%;
    height: 35px;
}

/*start up screen*/
.startContainer{
    position: relative;
    top: 0px;
    left: -15px;
    height: 350px;
    width: 914px;
    background-image:url(../images/halftone-yellow.png); 
    
}

/*answers*/
.answer{
    text-align: center;
    font-size: 25px;
    margin: 3px;
}

/*timer display*/
#timer{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/*stlye for question background*/
/*Q must be after container*/
#q{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: 65px;
    background-image: url(../images/halftone-yellow.png);
}

/*background image*/
#beer{ 
    background-image: url(../images/beer.jpg);
    background-position-x: -15px;
    background-position-y: -15px;
    background-size: 1375px 395px;
    background-repeat: no-repeat;
    padding: 0px;
}

/*sides of the page*/
.side{
    background: transparent;
    padding: 0px;
}

/* correct picture */
.img{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 385px;
    position: relative;
    top: 0px;
    height: 150px;
    width: 150px;
}

/*holder for the correct image*/
.picHolder{
    position: relative;
    top: -119px;
    left: 0px;
    width: 100%;
    height: 150px;
}

/* image styling for mascot*/
.belleville{
    position: relative;
    left: 43%;
    height: 100%;
}